* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}


body {
    overflow: hidden;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';
    /* Project id 3834040 */
    src: url('//at.alicdn.com/t/c/font_3834040_uwdsollj8wc.woff2?t=1676722521099') format('woff2'),
        url('//at.alicdn.com/t/c/font_3834040_uwdsollj8wc.woff?t=1676722521099') format('woff'),
        url('//at.alicdn.com/t/c/font_3834040_uwdsollj8wc.ttf?t=1676722521099') format('truetype');
}