.preview {
    position: relative;
    padding: 0.5rem;
    width: calc(100% - 32rem);
    height: 80%;
    min-width: 30rem;
    min-height: 32rem;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 0.2rem;
}