.global {
    display: flex;
    padding: 0.5rem;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

button {
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    border: none;
    border-radius: 0.1rem;
    color: darkcyan;
    cursor: pointer;
}

label {
    flex: 1;
    padding: 0rem 0.8rem;
    font-family: iconfont;
    text-align: right;
    font-size: 1.1rem;
}

p {
    flex: 3;
    text-align: left;
}