.library-nav {
    padding: 0rem 1rem;
    position: relative;
    height: 2.5rem;
    border-bottom: 1px solid #EBEEF5;
    background-color: white;
    z-index: 1;
}

button {
    height: 100%;
    background-color: transparent;
    border: none;

    &>label:nth-child(1) {
        margin-right: 0.5rem;
        font-family: iconfont;
        font-size: 1.1rem;
    }
}

button:nth-of-type(1) {
    margin-right: 2rem;
}

.nav-select {
    color: darkcyan;
}

span {
    position: absolute;
    bottom: -0.05rem;
    height: 0.1rem;
    background-color: darkcyan;
}