.edit-box {
    margin-bottom: 1px;
    position: relative;
    padding: 0.2rem;
    min-height: 1.4rem;
    border: 1px solid darkcyan;
    overflow: hidden;
}

.edit-box-handle {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0rem;
    right: 0rem;
    height: 1.4rem;
    background-color: darkcyan;

    label {
        padding: 0.2rem 0.3rem;
        font-family: iconfont;
        font-size: 0.9rem;
        line-height: 1rem;
        color: white;
        cursor: pointer;
    }
}