section {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    overflow: hidden;

    &>label {
        flex: 4;
    }

    &>aside {
        flex: 6;
    }
}

p {
    color: darkcyan;
}

.new-btn,
.del-btn {
    display: inline-block;
    width: 13.2rem;
}

.new-btn {
    color: darkcyan;
}

.del-btn {
    color: red;
}

.radio-btn {
    display: block;

    .radio-new-btn {
        width: 100%;
        color: darkcyan;
    }

    .radio-del-btn {
        width: 100%;
        color: red;
    }
}

.tips {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}