section {
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    &>label {
        flex: 4;
    }

    &>aside {
        flex: 6;
    }
}

.new-btn,
.del-btn {
    display: inline-block;
    width: 13.2rem;
}

.new-btn {
    color: darkcyan;
}

.del-btn {
    color: red;
}